body {

    background: #222;
    text-align: center;
    color: white;
    font-family: cursive;
    text-align: center;
    top: 30px;
    position: relative;
    color: rgb(108, 0, 248);
  }